.hello {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stache {
    &__img {
        &--left {
            height: 4.5em;
            margin-right: 1em;
        }

        &--right {
            height: 4.5em;
            margin-left: 1em;
        }
    }
}
