<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="styles/style.css" type="text/css" media="all" />
    <script type="text/javascript" src="js/main.js" defer></script>

    <title>{{title}}</title>
</head>

<body>
    <div id="root">
        {{> header }}
        <!-- Everything in pages folder renders in body segment -->
        {{> body }}
        <!-- Everything in pages folder renders in body segment -->
        {{> footer corp="Stache"}}
    </div>
</body>

</html>