<div class="counter">
    <div class="counter--top">
        {{#staches className="counter__number"}}0{{/staches}}
    </div>
    <div class="counter--bottom">
        <input type="text" class="counter__input" value="1">
        <div class="counter__buttons">
            <button class="counter__button" onclick="Counter('sub')">-</button>
            <button class="counter__button" onclick="Counter('reset')">reset</button>
            <button class="counter__button" onclick="Counter('add')">+</button>
        </div>
    </div>
</div>