.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    min-width: 300px;

    &--top,
    &__buttons {
        width: 100%;
        display: flex;
        align-items: center;
    }
    &--top {
        justify-content: space-between;
        margin-bottom: 0.8em;
    }
    &--bottom {
        width: 300px;
    }
    &__buttons {
        justify-content: center;
    }
    &__button {
        flex: 1;
        height: 1em;
        line-height: 0;
        border: 1px solid rgb(206, 206, 206);
        background-color: white;
        outline: none;
        padding: 0.7em;
        &:hover {
            background-color: rgb(243, 243, 243);
            cursor: pointer;
        }
        &:nth-child(1) {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }
        &:nth-child(3) {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
    &__input {
        height: 1em;
        width: 100%;
        padding: 0.8em 0;
        font-weight: bold;
        text-align: center;
        background-color: white;
        border: 1px solid rgb(206, 206, 206);
        border-radius: 8px;
        margin-bottom: 1em;
    }
}
