<div class="counter">
    <div class="counter--top">
        <img class="stache__img--left" src="images/stache-logo-left.png" alt="{">
        <h1 class="counter__number">0</h1>
        <img class="stache__img--right" src="images/stache-logo-right.png" alt="}">
    </div>
    <div class="counter--bottom">
        <input type="text" class="counter__input" value="1">
        <div class="counter__buttons">
            <button class="counter__button" onclick="sub()">-</button>
            <button class="counter__button" onclick="reset()">reset</button>
            <button class="counter__button" onclick="add()">+</button>
        </div>
    </div>
</div>