.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $footer-height;
    color: rgb(128, 128, 128);
    background-color: rgb(240, 240, 240);
}