.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 0px 3px 22px 15px rgba(0,0,0,0.03);
    -moz-box-shadow: 0px 3px 22px 15px rgba(0,0,0,0.03);
    box-shadow: 0px 3px 22px 15px rgba(0,0,0,0.03);
    height: $header-height;
    background-color: $header-color;
    font-size: 14px;
}
